lib/ProtoTracer/Assets/Models/FBX/Commissions/*.vscode/.browse.c_cpp.db*
lib/ProtoTracer/Assets/Models/FBX/Commissions/*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
.pio/
.pio/*
.pio
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json
